.portfolio {
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 100px auto 0;
}

.portfolio__list {
  margin: 30px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.portfolio__list-name {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__list-name:nth-child(3) {
  border: none;
}

.portfolio__page {
  margin: 20px 0;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__link {
  position: absolute;
  top: 33%;
  right: 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 91px auto 0;
  }

  .portfolio__list {
    margin: 50px auto 0;
  }
  .portfolio__page {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    margin: 70px auto 0;
  }

  .portfolio__list {
    margin: 20px auto 0;
  }
  .portfolio__page {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__image {
    width: 11px;
    height: 11px;
  }
}
