.popup {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  margin-left: auto;
  background: #fafafa;
  max-width: 520px;
  height: 100vh;
  display: flex;
}

.popup__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: calc(100vh - (159px + 92px));
  margin: auto;
}

.popup__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.popup__link {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.popup__link:nth-child(2) {
  margin: 28px auto;
}

.popup__link::after {
  opacity: 0;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000000;
  transition: opacity 0.15s ease;
}
.popup__link:hover::after {
  opacity: 1;
}

.popup__button {
  position: fixed;
  right: 22px;
  top: 22px;
  background-image: url(../../image/close__popup.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-size: contain;
  transition: opacity 0.2s ease;
}

.popup__button:hover {
  opacity: 0.7;
}

.popup__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  inset: 0;
  position: fixed;
}

@media screen and (max-width: 450px) {
  .popup__block {
    height: calc(100vh - (144px + 48px));
  }

  .popup__link:nth-child(2) {
    margin: 24px auto;
  }
}
